<div style="margin:30px;">
	<h1 id="hello">Helló!</h1>
	<img id="spotLogo" src="img/logo.png">
	<div style="height:80px;"></div>
	<input type="email" name="loginEmail" data-theme="b" placeholder="E-mail cím" value="baran@dev.hu" />
	<input type="password" name="loginPassword" data-theme="b" placeholder="Jelszó" value="qwe" />
	<button data-theme="a" id="signup">Regisztrálok</button>
	<button data-theme="a" id="signin" style="display:none;">Belépek</button>
    <p id="changeCheck"><img src="img/unchecked.png" class="changeCheck" />Már regisztrált vagyok</p>
	<a href="#" onclick="lostPassword();">Elfelejtettem a jelszavamat</a><br /><br />
	<a href="#" class="guestLogin" onclick="guestLogin();">Tovább azonosítás nélkül</a>
</div>