<div style="margin:10px;">
	<h2>Regisztráció</h2>
	<img src="img/70/logo.png">
	<div id="wut"></div>
	<input type="email" name="signupEmail" data-theme="b" placeholder="E-mail cím" />
	<input type="email" name="signupEmailAgain" data-theme="b" placeholder="E-mail cím megerősítése" />
	<input type="password" name="signupPassword" data-theme="b" placeholder="Jelszó" />
	<input type="password" name="signupPasswordAgain" data-theme="b" placeholder="Jelszó megerősítése" />
	<input type="tel" name="signupPhone" data-theme="b" placeholder="Telefonszám" /><br />
	A regisztrációhoz el kell fogadnia az <a href="http://showroom8.coimbraits.hu/client/ASZF.pdf" onclick="window.open('http://showroom8.coimbraits.hu/client/ASZF.pdf', '_system', 'location=no');" > Általános szerződési feltételeket.</a><br/><br/>
	<button data-theme="a" id="signupAccept">Elfogadom</button>
	<button data-theme="a" id="signupSubmit" class="ui-disabled">Regisztrálok</button>
</div>