<div style="margin:30px;">
    <img src="img/changeAddress.png">
    <div style="height:80px;"></div>
    <div id="labelNote">Ide kérem a taxit</div>
    <table id="modifyAddress">
        <tr>
            <td class="firstColumn">
                <input type="text" name="addressCity" placeholder="Város" value="Budapest" />
            </td>
            <td class="secondColumn">
                <input type="text" name="addressDistrict" placeholder="Kerület" value="XII." />
            </td>
        </tr>
        <tr>
            <td class="firstColumn">
                <input type="text" name="addressRoad" placeholder="Utca" value="Eotvos ut" />
            </td>
            <td class="secondColumn">
                <input type="text" name="addressNumber" placeholder="Házszám" value="35" />
            </td>
        </tr>
    </table>
    <button data-theme="a" id="addressChangeSubmit">OK</button>
    <div id="labelNote">Korábbi rendeléseim</div>
</div>
<table id="prevAddresses">
    <tr><td class="iterColumn"></td><td class="addressColumn"></td></tr>
</table>