<div style="margin:30px;">
    <button data-theme="c" class="orderFastest" id="fastestProvider">Jöjjön a leggyorsabb</button>
</div>
<table id="chooseProvider">
    <thead valign="middle">
        <tr>
            <th id="name"> <img src="img/70/head.png"> <span style="margin-left:15px; font-size:20px;">Név<span></th>
            <th><img src="img/70/taxi.png"></th>
            <th><img src="img/70/heart.png"></th>
            <th><img style="width:76px;" src="img/70/distance.png"></th>
            <th><img src="img/70/rating.png"></th>
        </tr>
    </thead>
    <tbody id="taxies">
        <tr>
            <td colspan="5">Adatok betöltése folyamatban ...
            </td>
        </tr>
    </tbody>
</table>