
                <div id="driverDescription">
                    <img src="img/70/bigUnknownHead.png" id="bigDriverHead">
                    <div id="name"><span id="taxiName">Kovács József</span></div>
                    <div id="carData"><span id="taxiLicensePlate">MLT-256</span><br /><span id="taxiCarType">Volkswagen Passat</span></div>
                </div>
                <div id="descriptionBar">
                    <div id="taxi"><img src="img/70/unknownBarTaxi.png"></div>
                    <div id="callCount"><span id="taxiCallCount">25</span> <br />hívás</div>
                    <div id="favoriteCount"><span id="taxiFavoriteCount">15</span><br />kedvenc</div>
                    <div id="rating"><span id="taxiRating">4,7</span><br />értékelés</div>
                </div>
                <div id="ratings">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Gyorsaság</td>
                                    <td><div id="speedRating"></div></td>
                                </tr>
                                <tr>
                                    <td>Kényelem</td>
                                    <td><div id="comfortRating"></div></td>
                                </tr>
                                <tr>
                                    <td>Tisztaság</td>
                                    <td><div id="cleanness"></div></td>
                                </tr>
                                <tr>
                                    <td>Udvariasság</td>
                                    <td><div id="politeness"></div></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div id="detailActions">
                    <div id="callDriver" ><img src="img/70/call.png"></div>
                    <div id="acceptDriver"><img src="img/70/accept.png"></div>
                </div>