<div id="mapCanvas">Pozíció betöltése...</div>
<div id="mapPosition" class="ui-header ui-bar-inherit">
    <div id="street">Ismeretlen utca</div>
    <div id="city">Ismeretlen település</div>
</div>
<div id="changePosition" class="ui-header ui-bar-inherit">Módosítom a címemet</div>
<table id="preferences">
    <tr>
        <td id="description">Utasok száma</td>
        <td>
            <div id="passengerCount">2</div>
        </td>
        <td id="passengerPlus">
            <img src="img/70/plus.png" >
        </td>
        <td id="passengerMinus">
            <img src="img/70/minus.png" >
        </td>
    </tr>
    <tr>
        <td id="description">Csomagok</td>
        <td><img id="few" class="fewLuggage selectedLuggage" src="img/70/fewLuggageSelected.png"/></td>
        <td><img id="mid" class="midLuggage" src="img/70/midLuggage.png"/></td>
        <td><img id="huge" class="hugeLuggage" src="img/70/hugeLuggage.png"/></td>
    </tr>
    <tr>
        <td id="description">Kisállatok</td>
        <td><img id="no" class="noPet selectedPet"  src="img/70/noPetSelected.png"/></td>
        <td><img id="cat" class="catPet"  src="img/70/catPet.png"/></td>
        <td><img id="dog" class="dogPat"  src="img/70/dogPet.png"/></td>
    </tr>
</table>
<div id="fastestProvider"  style="display:none;" class="inMain">
    <img src="img/70/fastestProvider.png"><br />
    Gyorsrendelés
</div>
<div id="chooseProviderButton" style="display:none;">
    <img src="img/70/chooseProvider.png"><br />
    Választani szeretnék
</div>