<div id="acceptedMessage">
    A taxid megérkezett!!
</div>
<div id="orderDetails">
    <div id="orderDatas">
        <div id="orderCount">
            <div class="label">Utasok száma</div>
            <div class="value">2</div>
        </div>
        <div id="orderLuggage">
            <div class="label">Csomagok</div>
            <div class="value"><img src="img/70/fewLuggageWhite.png"></div>
        </div>
        <div id="orderPet">
            <div class="label">Kisállatok</div>
            <div class="value"><img src="img/70/dogPetWhite.png"></div>
        </div>
    </div>
    <div id="name"><span id="taxiName">Kovács József</span></div>
    <div id="carData"><span id="taxiLicensePlate">MLT-256</span><br /><span id="taxiCarType">Volkswagen Passat</span></div>
    <div id="rating">4,7</div>
    <div id="inverseRating"></div>
</div>
<div id="acceptedActions">
    <div id="callDriver"><img src="img/70/callPhone.png"></div>
    <div id="messageDriver"><img src="img/70/letterBox.png"></div>
    <div id="cancelDriver"><img src="img/70/cancelCross.png"></div>
</div>
