<div id="acceptedMessage">
    Rendelésed megerosítve, a taxid úton van hozzád!
</div>
<div id="timer">00:05</div>
<div id="inverseDetails">
    <div id="name"><span id="taxiName">Kovács József</span></div>
    <div id="carData"><span id="taxiLicensePlate">MLT-256</span><br /><span id="taxiCarType">Volkswagen Passat</span></div>
    <div id="rating">4,7</div>
    <div id="inverseRating"></div>
</div>
<div id="acceptedActions">
    <div id="callDriver"><img src="img/70/callPhone.png"></div>
    <div id="messageDriver"><img src="img/70/letterBox.png"></div>
    <div id="cancelDriver"><img src="img/70/cancelCross.png"></div>
</div>