<div id="rateMessage">
    Segíts a közösségnek, értékeld az utazásod
</div>
<div id="ratings">
    <table>
        <tbody id="ratings">
            <tr class="greater">
                <td class="ratingDescription">Név</td>
                <td class="ratingValue" id="nameDo"></td>
            </tr>
            <tr class="greater">
                <td class="ratingDescription">Időpont</td>
                <td class="ratingValue" id="dateDo"></td>
            </tr>
            <tr class="greater">
                <td class="ratingDescription">Honnan</td>
                <td class="ratingValue" id="destinationDo"></td>
            </tr>
            <tr>
                <td class="ratingDescription">Gyorsaság</td>
                <td class="ratingValue"><div id="speedDo"></div></td>
            </tr>
            <tr>
                <td class="ratingDescription">Kényelem</td>
                <td class="ratingValue"><div id="comfortDo"></div></td>
            </tr>
            <tr>
                <td class="ratingDescription">Tisztaság</td>
                <td class="ratingValue"><div id="cleannessDo"></div></td>
            </tr>
            <tr>
                <td class="ratingDescription">Udvariasság</td>
                <td class="ratingValue"><div id="politenessDo"></div></td>
            </tr>
        </tbody>
    </table>
</div>
<div id="classify">
    <img src="img/70/comeAgain.png" />
</div>
<hr id="magic" />
<div id="actionRater">
    <div id="actionRaterButton">Értékelem</div>
    <div id="skipRatingButtonAction">Most nem</div>
</div>